<a href="https://colab.research.google.com/github/Usori/DataScienceLearning/blob/pandas_learning/pandas_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Pandas Cookbook Hands On - First Tutorial

Observação: Fiz adaptações no tutorial para incluir meu conhecimento prévio em Python e facilitar o entendimento de quais estruturas de dados estão sendo manipuladas em cada parte.

https://pandas.pydata.org/docs/user_guide/cookbook.html#cookbook

## Dicionário para DataFrame

Existem três maneiras principais de se criar um dataframe, com um dicionário, com um CSV uu com uma planilha excel, abaixo iremos utilizar a criação com dicionário.

*   Com **dicionário**: df = pd.DataFrame(dicionario1)
*   Com **CSV**: df = pd.read_csv("nome_do_arquivo.csv")
*   Com **Excel**: df = pd.read_excel("nome_do_arquivo.xlsx")

In [ ]:
dicionario1 = {
      "AAA" : [4, 5, 6, 7]
    , "BBB" : [10, 20, 30, 40]
    , "CCC" : [100, 50, -30, -50]
    , "D D" : ["Hello", "World", "my", "Friends!"]
}

df = pd.DataFrame(dicionario1)

## Rótulo da Coluna como Atributo (Usori and ChatGPT)

A notação ou funcionalidade anterior é chamada de "atributo de coluna" (column attribute) no pandas.

Quando você usa a sintaxe df.Nome, está acessando uma coluna específica do DataFrame df por meio de um atributo. O pandas permite que você acesse as colunas de um DataFrame como atributos quando o nome da coluna é [**uma string válida e não contém espaços, caracteres especiais ou colide com algum nome de atributo ou método existente no DataFrame**](https://chat.openai.com/share/007c3269-b6f8-4859-b8a0-b1813958f494).

Essa funcionalidade é conveniente para acessar colunas de forma mais concisa e legível, especialmente quando os nomes das colunas são simples e não exigem aspas ou colchetes. No entanto, é importante ressaltar que nem sempre é possível utilizar essa notação, especialmente quando o nome da coluna não atende aos requisitos mencionados anteriormente. Em casos onde o nome da coluna possui espaços, caracteres especiais ou é uma palavra reservada do Python, é necessário utilizar a notação df['Nome'] para acessar a coluna desejada.

In [ ]:
df

   AAA  BBB  CCC       D D
0    4   10  100     Hello
1    5   20   50     World
2    6   30  -30        my
3    7   40  -50  Friends!

In [ ]:
df.AAA # Permite acessar uma coluna do pandas pelo seu nome se ela não

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [ ]:
type(df.AAA) # DF.AAA é um pandas.core.series.Series, series.Series, é como as colunas do pandas são vistas

pandas.core.series.Series

### Note que não é possível faze "df.D D", pois este não é um nome válido de rótulo como atributo, conforme mencionado anteriormente.

In [ ]:
df.CCC

0    100
1     50
2    -30
3    -50
Name: CCC, dtype: int64

## Series (Data Structure)

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

Here, data can be many different things:
*   Python dict
*   ndarray
*   scalar value (like 5)

https://pandas.pydata.org/docs/user_guide/dsintro.html

In [ ]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a   -1.701375
b    1.273355
c   -1.796010
d   -0.371055
e    0.210388
dtype: float64

In [ ]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
pd.Series(np.random.randn(5))

0    2.073692
1    1.502501
2    0.685412
3    0.197825
4   -0.501989
dtype: float64

In [ ]:
s.a #coluna "a" da Series "s"

-1.7013745705333947

In [ ]:
d = {"a" : 1, "b" : 0, "c" : 2}

In [ ]:
pd.Series(d)

a    1
b    0
c    2
dtype: int64